In [9]:
import numpy as np
import pandas as pd
from pymongo import MongoClient
from pymongo.errors import ConnectionFailure
from pymongo.errors import OperationFailure
import connection
import sys

In [8]:
!pip3 install connection

Collecting connection
  Downloading connection-2021.7.20.tar.gz (1.2 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from connection) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->connection) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->connection) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->connection) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests->connection) (2.0.7)
Using legacy 'setup.py install' for connection, since package 'wheel' is not installed.
Installing collected packages: connection
    Running setup.py install for connection ... done
Successfully installed connection-2021.7.20
WARNING: You are using pip version 21.3.1; however, version 22.3.1 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.9/bin/python3.9 -m pip install --upgrade pip' command.

# Athlete Events Data

In [10]:
athleteEvents = pd.read_csv('athlete_events.csv')
athleteEvents.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

# GDP Regions Data

In [11]:
gdp = pd.read_csv('world_gdp.csv', header = [3])
gdp = gdp.drop(['Indicator Name', 'Indicator Code'], axis = 1)
gdp = gdp.fillna(0)

years = list(range(1960, 2017))
years = map(str, years)
years = list(years)

gdp[years] = gdp[years].apply(pd.to_numeric).astype(np.int64)
gdp[years] = gdp[years].apply(lambda x : x/pow(10,6)).round(decimals = 1)

gdp.head(5)

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,AFG,537.8,548.9,546.7,751.1,800.0,1006.7,1400.0,1673.3,...,9843.8,10190.5,12486.9,15936.8,17930.2,20536.5,20046.3,20050.2,19215.6,19469.0
1,Albania,ALB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10701.0,12881.4,12044.2,11927.0,12890.9,12319.8,12776.3,13228.2,11335.3,11863.9
2,Algeria,DZA,2723.6,2434.8,2001.5,2703.0,2909.4,3136.3,3039.8,3370.8,...,134977.0,171001.0,137211.0,161207.0,200019.0,209059.0,209755.0,213810.0,165874.0,159049.0
3,American Samoa,ASM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,520.0,563.0,678.0,576.0,574.0,644.0,641.0,643.0,659.0,658.0
4,Andorra,AND,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4017.0,4007.4,3660.5,3355.7,3442.1,3164.6,3281.6,3350.7,2811.5,2858.5

# Population Data

In [12]:
pop = pd.read_csv('world_pop.csv')
pop = pop.drop(['Indicator Name', 'Indicator Code'], axis = 1)
pop.head()

,Country,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822
1,Afghanistan,AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032
2,Angola,AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463
3,Albania,ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101
4,Andorra,AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281

In [13]:
def dbConnection(password):
    client = MongoClient("mongodb+srv://dsci551_group71:"+password+"@cluster0.cembryp.mongodb.net/?retryWrites=true&w=majority")
    try:
        client.admin.command('ismaster')
        return client
    except ConnectionFailure as err:
        print(f"Data Base Connection failed. Error: {err}")
        return False

In [ ]:
password = sys.argv[1]
if not connection.dbConnection(password):
    print("Failed to connect")
else:
    cluster = connection.dbConnection(password)
    db = cluster.Olympics
    collection = db["test"]
    print("Connection Succesful")

#     document1 = {"_id":4, "college" : "USC"}
#     document2 = {"_id":5, "college" : "USC"}

#     # collection.insert_many([document1,document2])
#     DataNode2.insert_many([document1,document2])
#     DataNode1.insert_many([document1,document2])

#     results = DataNode1.find()
#     for result in results:
#         print(result)